# Dependencies
node_modules

# Next.js build output
.next
out
live

# Production build
build

# Environment variables
.env*.local
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Misc
*.log
*.swp
*.swo
*~
